/* hero section */

.heroHeader{
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    font-family: "Playfair Display", serif;
    font-size: 6rem;
    line-height: 0.9;
  }
  
  .heroBio{
    margin-left: 15%;
    margin-top: 2%;
  }
  
  .heroBio h4{
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: #514439;
  }
  
  .heroBio p{
    font-family: "Merriweather", serif;
    font-size: 1.7rem;
    color: #2C3424;
    width: 90%;
    margin-top: 3%;
  }
  
  .heroBio span{
    font-weight: bold;
    color: #445A29;
  }

  
  
  /* hero section - bottom img */
  .circleContainer{
    position: relative;
    margin-top: -3rem;
    margin-left: -5rem;
  }
  
  .blob {
    position: relative;
    top: -1rem;
    left: -1rem;
    z-index: -1;
    scale: 0.7;
  }
  
  .BlobOutline{
    position: relative;
    bottom: 29rem;
    left: 1rem;
    z-index: -1;
    transform: rotate(-1deg);
  }
  
  .selfieContainer{
    margin-top: 4rem;
  }