.heroContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90dvh;
}

.heroHeader{
    text-align: center;
    margin: 0 auto;
    /* margin-top: 0%; */
    font-family: "Playfair Display", serif;
    font-size: 6rem;
    line-height: 0.9;
  }
  
.heroBio{
    margin-left: 15%;
    margin-top: 2%;
  }
  
.heroBio h4{
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: #514439;
  }
  
.heroBio p{
    font-family: "Merriweather", serif;
    font-size: 1.7rem;
    color: #2C3424;
    width: 90%;
    margin-top: 3%;
  }
  
.heroBio span{
    font-weight: bold;
    color: #445A29;
  }
  
  /* hero section - bottom img */

.blobWrapper {
    width: 96%;
    max-width: 400px;
    margin: 0 auto;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
.blob {
    display: block;
    position: relative;
    left: 0.6rem;
    scale: 0.9;
    }
  

.BlobOutline{
      position: absolute;
      z-index: -1;
      transform: rotate(-1deg);
      top: 0;
      left: 0.5rem;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  
.selfieContainer{
      position: relative;
      max-width: 27rem;
      aspect-ratio: 1/0.95;
      top: 1rem;
      margin: 1rem auto 3rem auto;
      width: 100%;
    }

  /* media queries */

  @media (min-width: 401px){
    .heroHeader{
      letter-spacing: 0.2rem;
    }

    .heroBio h4{
      font-size: 2rem;
    }

    .heroBio p{
      font-size: 2rem;
    }

    .selfieContainer{
      max-width: 29rem;
    }
  }

  @media (min-width: 530px){
    .heroHeader{
      width: 88%;
      font-size: 6.2rem;
    }
  }

  @media (min-width: 551px){
    .heroBio{
      margin-left: 12%;
      text-align: center;
    }
    
    .heroBio h4{
      width: 85%;
    }

    .heroBio p {
      margin-top: 0.7rem;
    }

    .selfieContainer{
      margin-top: 2rem;
    }
  }

  @media (min-width: 628px){
    .heroBio p {
      width: 85%;
    }
  }

  @media (min-width: 715px){
    .heroBio h4{
      font-size: 2.3rem;
    }

    .heroBio p{
      font-size: 2.2rem;
    }

    .selfieContainer{
      max-width: 32rem;
    }
  }

  @media (min-width: 788px){
    .heroBio h4{
      font-size: 2.5rem;
    }

    .heroBio p{
      font-size: 2.3rem;
      width: 75%;
      margin-left: 4rem;
    }
  }

  @media (min-width: 932px){
    .heroHeader{
      font-size: 6.3rem;
    }

    .heroBio h4{
      font-size: 2.7rem;
    }

    .heroBio p{
      font-size: 2.5rem;
      width: 70%;
      margin-left: 7rem;
    }
  }

  @media (min-width: 1155px){
    .heroHeader{
      font-size: 6.7rem;
    }

    .heroBio h4{
      font-size: 2.9rem;
    }

    .heroBio p{
      font-size: 2.8rem;
      width: 65%;
      margin-left: 10rem;
    }

    .selfieContainer{
      max-width: 36rem;
    }
  }

  @media (min-width: 1392px){
    .heroBio h4{
      font-size: 3rem;
    }

    .heroBio p{
      font-size: 2.9rem;
      width: 60%;
      margin-left: 15rem;
    }
  }

  @media (min-width: 1560px){
    .heroBio p{
      width: 50%;
      margin-left: 23rem;
    }

    .selfieContainer{
      max-width: 40rem;
    }
  }

  @media (min-width: 1724px){
    .heroBio p{
      width: 45%;
      margin-left: 31rem;
    }
  }

  @media (min-width: 1935px){
    .heroBio p{
      width: 40%;
      margin-left: 40rem;
    }
  }