/* hero section */

.heroHeader{
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    font-family: "Playfair Display", serif;
    font-size: 6rem;
    line-height: 0.9;
  }
  
  .heroBio{
    margin-left: 15%;
    margin-top: 2%;
  }
  
  .heroBio h4{
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: #514439;
  }
  
  .heroBio p{
    font-family: "Merriweather", serif;
    font-size: 1.7rem;
    color: #2C3424;
    width: 90%;
    margin-top: 3%;
  }
  
  .heroBio span{
    font-weight: bold;
    color: #445A29;
  }
  
  /* hero section - bottom img */
  .circleContainer{
    position: absolute;
    top: 0;
    left: -14%;
  }

  .blobWrapper {
    width: 96%;
    max-width: 400px;
    margin: 0 auto;
    z-index: -1;

  }
  
  .blob {
    display: block;
    position: relative;
    left: 0.6rem;
    scale: 0.9;
    }
  

  .BlobOutline{
    position: absolute;
    /* bottom: 29rem;
    left: 1rem; */
    /* width="280" height="250" */
    width: 28rem;
    height: 25rem;
    top: 3rem;
    left: 1rem;
    z-index: -1;
    transform: rotate(-1deg);
  }
  
  .selfieContainer{
    position: relative;
    margin-top: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 356px){
    .BlobOutline{
      width: 28rem;
      height: 25.5rem;
      top: 3rem;
      left: 3rem;
    }

    .circleContainer{
      top: 2rem;
      left: -12%;
    }

    .selfieContainer{
      margin-top: 0;
    }
  }

  @media (min-width: 381px){
    .BlobOutline{
      width: 28rem;
      height: 27rem;
      top: 4rem;
      left: 4.6rem;
    }

    .circleContainer{
      left: -8%;
    }
  }

  @media (min-width: 401px){
    .BlobOutline{
      width: 29rem;
      height: 30rem;
      top: 4rem;
      left: 4.6rem;
    }

    .circleContainer{
      top: 3rem;
      left: -6%;
    }
  }

  @media (min-width: 441px){
    .BlobOutline{
      width: 30rem;
      height: 33rem;
      top: 4rem;
      left: 6.5rem;
    }

    .circleContainer{
      top: 6rem;
      left: -5.8%;
    }

    .heroBio h4{
      font-size: 2rem;
    }

    .heroBio p{
      font-size: 2.1rem;
    }
  }

  @media (min-width: 501px){
    .BlobOutline{
      width: 31rem;
      height: 69rem;
      top: -13rem;
      left: 8rem;
    }

    .circleContainer{
      top: 6rem;
      left: -2%;
    }
  }

  /* @media (min-width: 551px){
    .BlobOutline{
      width: 31rem;
      height: 69rem;
      top: -13rem;
      left: 8rem;
    }

    .circleContainer{
      top: 6rem;
      left: -2%;
    }
  } */