@import "tailwindcss";

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  /* background-color: #A8B7A2; */
  background-color: #DFDDD1;
  font-family: "Raleway", sans-serif;
  color: #2C3424;
}

* { box-sizing: border-box; }

/* Marquee styles */
.marquee {
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
}

.marqueeContent {
  flex-shrink: 0;
  display: flex;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.7rem;
  color: #445A29;
}

.marqueeContent > * {
  flex: 0 0 auto;
  padding: 1rem 0.8rem;
  border-radius: 0.25rem;
  text-align: center;
}

.marqueeItem {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}

.sparkle{
  scale: 0.8;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%) }
}

  /* Enable animation */
.enableAnimation .marqueeContent {
  animation: scroll 30s linear infinite;
}

.aboutMarquee{
  display: flex;
  align-content: center;
  margin: 0 auto;
  width: 80%;
}

/* hamburger menu mobile */

header{
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #f5f5f5;
  height: 8rem;
  top: 0;
  width: 100%;
  z-index: 12;
}

.homeLogo{
  position: fixed;
  top: 0.8rem;
  left: 1rem;
  width: 7rem;
}

.mobileMenu {
  position: fixed;
  display: flex;
  top: 1.4rem;
  right: 3rem;
}

.menuButton{
  cursor: pointer;
  z-index: 3;
  background-color: #445A29;
  border-radius: 1em;
}

.menuIcon {
  width: 5.2rem;
  height: 5.2rem;
  transition: transform 0.4s ease;
}

.rotate{
  transform: rotate(90deg);
}

.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: #445A29;
  border-radius: 1em;
  transform: translateY(1rem);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  height: 0;
  width: 5.2rem;

  &.open {
    transform: translateY(-0.3rem) translateX(-22.6rem);
    height: 22rem;
    width: 28rem;
    pointer-events: auto;
    border: 2px double white;
  
    li:nth-child(1) {
      animation: navItemIn 300ms 300ms forwards;
      margin-top: 1rem;
    }
    li:nth-child(2) {
      animation: navItemIn 300ms 400ms forwards;
    }
    li:nth-child(3) {
      animation: navItemIn 300ms 500ms forwards;
    }
    li:nth-child(4) {
      animation: navItemIn 300ms 600ms forwards;
    }
  }
}

ul {
  display: flex;
  gap: 1.5rem;
  scale: 0.85;
}

.navUl{
  flex-direction: column;
  position: relative;
}

.nav li {
  opacity: 0;
  animation: none;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background: transparent;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.5s linear;
}
 
.navLinkRow{
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
}

.navItemLabel{
  position: absolute;
  color: white;
  z-index: 3;
  font-size: 1.6rem;
}

main{
  padding-top: 9rem;
}

.desktopLinks{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  width: 95%;
}

.desktopLinks a{
  color: #2C3424;
  /* font-family: "Barlow Condensed", sans-serif; */
  font-family: "Playfair Display", serif;
  letter-spacing: 0.1rem;
  font-size: 2.7rem;
}

@keyframes navItemIn {
from {
  opacity: 0;
  transform: translateY(-60px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}

@media (min-width: 401px){
  .marqueeItem p {
    font-size: 2.5rem;
  }

  .sparkle{
    scale: 0.9;
  }

  .nav.open {
    transform: translateY(-0.3rem) translateX(-23.8rem);
    height: 22rem;
    width: 30rem;
  }

  .navItemLabel{
    font-size: 1.8rem;
  }
}

@media (min-width: 420px){
  .nav.open {
    transform: translateY(-0.3rem) translateX(-25.8rem);
    width: 31.3rem;
  }
}

@media (min-width: 470px){
  .nav.open {
    transform: translateY(-0.3rem) translateX(-27.9rem);
    width: 33.5rem;
  }

  .navItemLabel{
    font-size: 2rem;
  }
}

@media (min-width: 441px){
  .marqueeItem{
    margin-top: 1rem;
  }

  .marqueeItem p {
    font-size: 2.7rem;
  }
}

@media (min-width: 501px){
  .nav.open {
    transform: translateY(-0.3rem) translateX(-29.9rem);
    width: 35.5rem;
  }

  .navItemLabel{
    font-size: 2.2rem;
  }

  .navLinkRow{
    column-gap: 3.3rem;
  }
}

@media (min-width: 551px){
  .marqueeItem p {
    font-size: 3rem;
  }

  .nav.open {
    transform: translateY(-0.3rem) translateX(-32.6rem);
    width: 38rem;
  }

  .navItemLabel{
    font-size: 2.4rem;
  }

  .navLinkRow{
    column-gap: 3.7rem;
  }
}

@media (min-width: 601px){
  .nav.open {
    transform: translateY(-0.7rem) translateX(-39.5rem);
    width: 45rem;
  }

  .navLinkRow{
    column-gap: 4rem;
  }
}

@media (min-width: 611px){
  .nav.open {
    transform: translateY(-1rem) translateX(-49rem);
    width: 55rem;
    height: 25rem;
  }

  .navItemLabel{
    font-size: 2.7rem;
  }

  .navLinkRow{
    column-gap: 5rem;
  }

  .navUl{
    margin-top: 1.5rem;
  }
}

@media (min-width: 676px){
  header{
    background: #445A29;
  }

  .desktopLinks a{
    color: white;
  }
}

@media (min-width: 875px){
  .marqueeItem p {
    font-size: 3rem;
  }
}

@media (min-width: 1111px){
  .marqueeItem p {
    font-size: 3.3rem;
  }
}