@import "tailwindcss";

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #A8B7A2;
  background-color: #DFDDD1;
  font-family: "Raleway", sans-serif;
  color: #2C3424;
}

* { box-sizing: border-box; }

/* Marquee styles */
.marquee {
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
}

.marqueeContent {
  flex-shrink: 0;
  display: flex;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.7rem;
  color: #445A29;
}

.marqueeContent > * {
  flex: 0 0 auto;
  padding: 1rem 0.8rem;
  border-radius: 0.25rem;
  text-align: center;
}

.marqueeItem {
  display: flex;
  align-items: center;
}

.sparkle{
  scale: 0.8;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%) }
}

  /* Enable animation */
.enableAnimation .marqueeContent {
  animation: scroll 30s linear infinite;
}

.aboutMarquee{
  display: flex;
  align-content: center;
  margin: 0 auto;
  width: 80%;
}

/* hamburger menu mobile */

/* .mainButton{
  z-index: 7;
} */


/* .hamburgerMenu{
  height: 5rem;
  padding: 0.9rem;
  border-radius: 1rem;
  background-color: #445A29;
} */

/* edits start here */

header{
  position: sticky;
  background-color: #f5f5f5;
  height: 8rem;
  top: 0;
  width: 100%;
  z-index: 10;
}

.homeLogo{
  position: fixed;
  top: 0.5rem;
  left: 1rem;
  width: 7rem;
}

.mobileMenu {
  position: fixed;
  display: flex;
  top: 1.1rem;
  right: 3rem;
}

.menuButton{
  cursor: pointer;
  z-index: 16200;
  background-color: #445A29;
  border-radius: 1em;
}

.menuIcon {
  width: 5.2rem;
  height: 5.2rem;
  transition: transform 0.4s ease;
}

.rotate{
  transform: rotate(90deg);
}

.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: #445A29;
  border-radius: 1em;
  transform: translateY(1rem);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  height: 0;
  width: 5.2rem;

  &.open {
    /* opacity: 1; */
    transform: translateY(3.8rem);
    height: 20rem;
    pointer-events: auto;
  
    li:nth-child(1) {
      animation: navItemIn 300ms 300ms forwards;
      margin-top: 1rem;
    }
    li:nth-child(2) {
      animation: navItemIn 300ms 400ms forwards;
    }
    li:nth-child(3) {
      animation: navItemIn 300ms 500ms forwards;
    }
    li:nth-child(4) {
      animation: navItemIn 300ms 600ms forwards;
    }
  }
}

ul {
  display: flex;
  gap: 1.5rem;
  scale: 0.85;
  /* margin-left: 5.5rem; */
}

.navUl{
  flex-direction: column;
}

.nav li {
  opacity: 0;
  animation: none;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background: transparent;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.5s linear;
/* 
  &:hover {
    color: white;
    background: #445A29;
  } */
}

@keyframes navItemIn {
from {
  opacity: 0;
  transform: translateY(-60px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}

@media (min-width: 441px){

  .marqueeItem{
    margin-top: 1rem;
  }

  .marqueeItem p{
    font-size: 1.9rem;
  }
}

@media (min-width: 551px){
  .marqueeItem p {
    font-size: 2.1rem;
  }
}