@import "tailwindcss";

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(168, 183, 162);
  font-family: "Raleway", sans-serif;
  color: #2C3424;
}

* { box-sizing: border-box; }

.mainButton{
  z-index: 7;
}

/* navblock - mobile... delete? */
.hamburger, .closed, .aboutNavButton, .projectsNavButton{
  /* position: absolute; */
  /* top: 10%;
  right: 3%; */
  position: relative;
  bottom: -3rem;
  left: 22rem;
  background-color: #445A29;
  padding: 1rem;
  border-radius: 0.5rem;
}

/* Marquee styles */
.marquee {
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
}

.marqueeContent {
  flex-shrink: 0;
  display: flex;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.7rem;
  color: #445A29;
}

.marqueeContent > * {
  flex: 0 0 auto;
  padding: 1rem 0.8rem;
  border-radius: 0.25rem;
  text-align: center;
}

.marqueeItem {
  display: flex;
  align-items: center;
}

.sparkle{
  scale: 0.8;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%) }
}

  /* Enable animation */
.enableAnimation .marqueeContent {
  animation: scroll 30s linear infinite;
}

.aboutMarquee{
  display: flex;
  align-content: center;
  margin: 0 auto;
  width: 80%;
}

/* hamburger menu mobile */

.hamburger, .close, .aboutNavButton, .projectsNavButton {
  /* position: fixed; */
  position: relative;
  /* top: 2%;
  right: 8%; */
  left: 75%;
  bottom: -1.5rem;
  background-color: #C3CCB8;
  padding: 1.5rem;
}

/* mobile links page */

.mobile-links{
  font-family: "Barlow Condensed", sans-serif;
  font-size: 6rem;
  color: #C3CCB8;
  margin-top: -8rem;
}

.line {
  z-index: -1;
  width: 60%; 
  height: 3px;
  background-color: white; 
  opacity: 0.5;
}

.line1{
  position: absolute;
  right: 0;
  top: 4.5rem;
  /* top: -40rem;
  right: -7rem; */
}

.line2{
  position: absolute;
  left: 0;
  bottom: 6rem;
  /* bottom: -14.5rem;
  right: 6rem; */
}

.mobile-links a:hover{
  cursor: pointer;
  color: white;
}

.square{
  background-color: #C8B388;
  width: 18rem;
  height: 18rem;
  transform: rotate(45deg);
  position: absolute;
  bottom: -3rem;
  right: -3rem;
}

.flowers{
  position: absolute;
  bottom: -11rem;
  right: -8.5rem;
  scale: 0.7;
  transform: rotate(-5deg);
}

.mobile-initials{
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 5rem;
  color: #2C3424;
  position: absolute;
  bottom: 3.7rem;
  left: 4.5rem;
}