.projectSection{
    background: linear-gradient(190deg, rgba(168, 183, 162, 1) 0%, rgba(68, 90, 41, 1) 100%);
    color: #2C3424;
}

.projectSection h3{
   margin: 0 auto;
   margin-top: 9%;
   text-align: center;
   font-family: "Open Sans", sans-serif;
   font-size: 1.4rem;
   width: 90%;
}

.projectsHeader{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 1.4rem 1rem;
    border: 2px solid #2C3424;
    border-radius: 0.4rem;
    width: 63%;
    background-color: #2C3424;
    color: #D7B95A;
    text-align: center;
    margin-top: -4.5rem;
}

.projectsContainer{
    padding-bottom: 1.5rem;
}

.projectMedia{
    margin: 0 auto;
    padding-top: 1rem;
    width: 85%;
}

.projectsContainer h4{
    font-family: "Playfair Display", serif;
    font-size: 2.3rem;
    color: #D7B95A;
    text-align: center;
    margin-top: 2rem;
}

/* Add spacing eblow last header if project collapsed */
.lastHeaderPadding{
    padding-bottom: 6rem;
    /* transition: padding-bottom 0.3s ease; */
}

.bioAndTags{
    margin: 0 auto;
    background-color: rgba(217,217,217, 0.5);
    /* background-color: #a49b94; */
    border: 1px solid rgba(228, 222, 222, 0.3);
    border-radius: 1rem;
    width: 88%;
    padding-bottom: 1rem;
}

.techTag{
    font-size: 1.3rem;
    padding: 0.8rem 0.9rem;
    border-radius: 1.5rem;
    color: #514439;
    background-color: #8b8179;
    border: 1px solid #514439;
}

.techTagContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
    width: 90%;
}

.projectBio{
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem 0;
}

/* individual projects */
.ventureWeavers{
    padding-bottom: 1rem;
}

.hideProjectInfo{
    display: none;
}