.projectSection{
    background: linear-gradient(190deg, rgba(168, 183, 162, 1) 0%, rgba(68, 90, 41, 1) 100%);
}

.projectsHeader{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 1.4rem 1rem;
    border: 2px solid #2C3424;
    border-radius: 0.4rem;
    width: 63%;
    background-color: #2C3424;
    color: white;
    text-align: center;
    margin-top: 2rem;
}

.projectsContainer{
    padding-bottom: 1.5rem;
}

.projectMedia{
    margin: 0 auto;
    padding-top: 1rem;
    width: 85%;
}

.projectsContainer h4{
    font-family: "Playfair Display", serif;
    font-size: 2.3rem;
    text-align: center;
    margin-top: 2rem;
}

.techTag{
    font-size: 1.3rem;
    padding: 0.3rem 0.5rem;
    border: 1px solid green;
}

.techTagContainer{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.projectBio{
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem 0;
}