.projectSection{
    background: linear-gradient(190deg, rgba(168, 183, 162, 1) 0%, rgba(68, 90, 41, 1) 100%);
}

.projectSection h3{
   margin: 0 auto;
   margin-top: 3%;
   text-align: center;
   font-size: 1.4rem;
   width: 90%;
}

.projectsHeader{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 1.4rem 1rem;
    border: 2px solid #2C3424;
    border-radius: 0.4rem;
    width: 63%;
    background-color: #2C3424;
    color: white;
    text-align: center;
    margin-top: 2rem;
}

.projectsContainer{
    padding-bottom: 1.5rem;
}

.projectMedia{
    margin: 0 auto;
    padding-top: 1rem;
    width: 85%;
}

.projectsContainer h4{
    font-family: "Playfair Display", serif;
    font-size: 2.3rem;
    color: #514439;
    text-align: center;
    margin-top: 2rem;
}

.bioAndTags{
    margin: 0 auto;
    background-color: rgba(217,217,217, 0.5);
    border-radius: 1rem;
    width: 88%;
    padding-bottom: 1rem;
}

.techTag{
    font-size: 1.3rem;
    padding: 0.8rem 0.9rem;
    border-radius: 1.5rem;
    color: white;
    background-color: rgba(210, 133, 26, 0.9);
}

.techTagContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
    width: 90%;
}

.projectBio{
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem 0;
}

/* individual projects */
.ventureWeavers{
    padding-bottom: 1rem;
}

.hideProjectInfo{
    display: none;
}