.AboutSection{
    background-color: #78866B; 
    background-image:
      repeating-linear-gradient(
        0deg,         /* Horizontal lines */
        transparent,
        transparent 80px,
        rgba(255, 255, 255, 0.3) 83px
      ),
      repeating-linear-gradient(
        90deg,        /* Vertical lines */
        transparent,
        transparent 80px,
        rgba(255, 255, 255, 0.3) 83px
      );

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.aboutHeader{
        display: flex;
        justify-content: center;
        font-family: "Open Sans", sans-serif;
        font-size: 3rem;
        border: none;
        padding-top: 3rem;
        padding-bottom: 0;
        color: #2C3424;
        letter-spacing: 0.5rem;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
    width: 88%;
    font-family: "Barlow Condensed", sans-serif;
    border-radius: 1rem;
}

.themeContainerWrapper{
    width: 93%;
    margin: 0 auto;
}

.themeContainer{
    position: relative;
    background-color: rgba(217,217,217, 0.75);
    border: 1px ridge #2C3424;
    border-radius: 1rem;
    margin-top: 2rem;
    padding-top: 1.4rem;
}

.themeContainer h4{
    font-family: "Playfair Display", serif;
    font-size: 2.2rem;
    color: #2C3424;
    margin: 0 auto;
    padding-bottom: 1.2rem;
    width: 80%;
}

.themeAndPolaroidWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 93%;
    margin: 0 auto;
}

.overlayContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: rgb(233,223,209);
    border: 2px ridge #322d26;
    z-index: 1;
    visibility: hidden;
}

.overlayContainer p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    color: #322d26;
    width: 80%;
    line-height: 1.8rem;
}

.makeVisible{
    visibility: visible;
}

.hideVisibility{
    visibility: hidden;
}

.activeAboutText{
    font-size: 2.2rem;
    color: #445A29;
    margin: 0 auto;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid white;
    width: fit-content;
}

/* arrows */
.titleAndArrow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.rightArrow, .leftArrow{
    position: absolute;
    top: 50%;
    /* transform considers arrow's height to center it relative to the div */
    transform: translateY(-50%); 
    z-index: 2;
    width: 5.5rem;
}

.leftArrow{
    left: -3rem;
}

.rightArrow{
    right: -3rem;
}

.inactiveAboutButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding-bottom: 2.5rem;
    width: 65%;
    font-family: "Open Sans", sans-serif;
}

#theme0, #theme1, #theme2{
    box-shadow: 3px 4px 2px #534a41;
}

.themeOptions button{
    background-color: rgb(110,88,69);
    padding: 0.8rem 0.7rem;
    border-radius: 0.3rem;
    color: rgb(233,223,209);
    font-size: 1.6rem;
}

.themeOptions button:hover, .rightArrow:hover, .leftArrow:hover{
    cursor: pointer;
}

/* image/polaroid */

  .polaroidWrapper {
    position: relative;
    width: 40rem;
    aspect-ratio: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 85%;
    margin-bottom: 2rem;
  }
  
  .polaroid {
    position: absolute;
    top: 55%;
    left: 50%;
    display: flex;
    justify-content: center;
    width: 82%;
    height: 80%;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 6px 12px rgba(0,0,0,0.4); /* subtle polaroid shadow */
    transform: translate(-50%, -50%);
  }
  
  .polaroidWrapper img {
    position: absolute;
    z-index: 2;
    border-radius: 0.5rem;
    top: 1rem;
    left: 1rem;
    object-fit: cover;
    width: 90%;
    height: 75%;
  }

.smiski{
    position: absolute;
    z-index: 3;
    scale: 0.6;
}

.smiskiResearching {
    margin-left: 7rem;
    margin-top: 14.3rem;
}

.smiskiPeeking{
    margin-top: -10rem;
    margin-left: 0.5rem;
}

.smiskiReading{
    margin-top: 15.5rem;
    margin-left: -5rem;
}

.hideThemeButton{
    display: none;
}

.aboutImg{
    position: absolute;
    top: 8%;
    left: 19.2%;
    width: 60%;
    height: 50%;
    object-fit: cover;
}

.currently{
    font-family: "Merriweather", serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.4);
    width: 92%;
    position: relative;
    top: 1rem;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.currently h4{
    font-family: "Barlow Condensed", sans-serif;
    padding-top: 1rem;
    font-size: 2.2rem;
}

.foodiePhotoContainer{
    position: relative;
    height: 50rem;
    width: 100%;
}

.foodie1, .foodie2, .foodie3, .foodie4{
    position: absolute;
}

@media (min-width: 350px){
    .smiskiPeeking{
        margin-top:-11rem;
        scale: 0.65;
    }

    .smiskiReading{
        scale: 0.7;
        margin-top: 16rem;
        margin-left: -8rem;
    }

    .smiskiResearching {
        scale: 0.7;
        margin-left: 8.2rem;
        margin-top: 15rem;
    }
}

@media (min-width: 385px){
    .rightArrow, .leftArrow{
        transform: translateY(-0%); 
        width: 6rem;
    }
    
    .leftArrow{
        left: -4rem;
    }
    
    .rightArrow{
        right: -4rem;
    }

    .polaroidWrapper {
        margin-top: 1.5rem;
      }

    .polaroidWrapper img {
        top: 1.3rem;
        left: 1.2rem;
        width: 88%;
        height: 72%;
      }

    .smiskiPeeking{
        margin-top:-9.7rem;
        scale: 0.7;
    }

    .smiskiReading{
        scale: 0.8;
        margin-top: 15rem;
        margin-left: -7.3rem;
    }
    
    .smiskiResearching {
        scale: 0.8;
        margin-left: 8rem;
        margin-top: 13.8rem;
    }

    .activeAboutText{
        font-size: 2.4rem;
    }

    .overlayContainer p{
        font-size: 1.7rem;
        line-height: 2rem;
    }
}

@media (min-width: 477px){
    .aboutHeader{
        font-size: 3.8rem;
    }
    .leftArrow{
        left: -4rem;
    }
    
    .rightArrow{
        right: -4rem;
    }

    .polaroidWrapper img {
        left: 1.4rem;
        width: 89%;
        height: 73%;
    }

    .smiskiPeeking{
        margin-top:-12rem;
    }

    .smiskiReading{
        scale: 0.75;
        margin-top: 19rem;
        margin-left: -8rem;
    }
    
    .smiskiResearching {
        scale: 0.75;
        margin-left: 9.5rem;
        margin-top: 17.8rem;
    }

    .currently h4{
        font-size: 2.6rem;
    }

    .themeContainer h4{
        font-size: 2.4rem;
    }
}

@media (min-width: 600px){
    .rightArrow, .leftArrow{
        width: 7rem;
        margin-top: -1rem;
    }

    .themeAndPolaroidWrapper{
        display: flex;
        margin: 0;
    }

    .foodie4{
        transform: rotate(-3deg);
        left: 2%;
        top: -5%;
    }

    .foodie3{
        z-index: 1;
        transform: rotate(10deg);
        left: 43%;
    }

    .foodie2{
        z-index: 2;
        transform: rotate(-10deg);
        top: 12%;
    }

    .foodie1{
        z-index: 3;
        transform: rotate(3deg);
        left: 24%;
        top: 17%;
    }  
    
    .polaroidWrapper:hover{
        z-index: 10;
    }

    .polaroidWrapper {
        width: 28rem;
        margin-bottom: 2rem;
    }

    .themeOptions button{
        padding: 1rem 0.9rem;
        border-radius: 0.3rem;
        color: rgb(233,223,209);
        font-size: 1.8rem;
    }

    .themeContainer h4{
        font-size: 2.4rem;
        padding-bottom: 1.2rem;
        width: 83%;
    }

    .activeAboutText{
        font-size: 2.6rem;
    }

    .overlayContainer p{
        font-size: 2rem;
        line-height: 2.6rem;
    }

    .themeContainerWrapper{
        margin-left: 3rem;
    }
}

@media (min-width: 700px){
    .themeContainerWrapper{
        width: 88%;
        margin: 0 auto;
    }

    .themeContainer{
        margin-left: 3rem;
    }

    .foodie4{
        left: 17%;
        top: -5%;
    }

    .foodie3{
        left: 48%;
    }

    .foodie2{
        top: 12%;
        left: 5%;
    }

    .foodie1{
        left: 27%;
        top: 15%;
    }  
}

@media (min-width: 853px){
    .themeContainer h4{
        padding-top: 2rem;
    }

    .inactiveAboutButtons{
        row-gap: 1.3rem;
        padding-bottom: 4rem;
    }

    .foodiePhotoContainer{
        width: 87%;
    }

    .overlayContainer p{
        width: 75%;
    }

    #theme0, #theme1, #theme2{
        padding: 1.2rem 0;
        margin: 0 auto;
        width: 69%;
    }
}

@media (min-width: 1019px){
    .themeContainerWrapper{
        width: 83%;
    }

    .themeContainer{
        margin-left: 3rem;
    }

    .themeContainer h4{
        font-size: 2.7rem;
    }

    .activeAboutText{
        font-size: 2.9rem;
    }

    #theme0, #theme1, #theme2{
        width: 63%;
    }
    
    .foodiePhotoContainer{
        width: 80%;
    }
}

@media (min-width: 1165px){
    .themeContainerWrapper{
        width: 70%;
    }

    .foodiePhotoContainer{
        width: 73%;
        height: 57rem;
    }

    .polaroidWrapper {
        width: 33rem;
    }
    
}

@media (min-width: 1512px){
    #theme0, #theme1, #theme2{
        width: 58%;
    }

    .foodie4{
        left: 28%;
        top: -7%;
    }

    .foodie3{
        left: 55%;
    }

    .foodie2{
        top: 12%;
        left: 15%;
    }

    .foodie1{
        left: 37%;
        top: 15%;
    }  
}