.AboutSection{
    background-color: #78866B; 
    background-image:
      repeating-linear-gradient(
        0deg,         /* Horizontal lines */
        transparent,
        transparent 80px,
        rgba(255, 255, 255, 0.3) 83px
      ),
      repeating-linear-gradient(
        90deg,        /* Vertical lines */
        transparent,
        transparent 80px,
        rgba(255, 255, 255, 0.3) 83px
      );
}

.aboutHeader{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 1.4rem 1rem;
    border: 2px solid #2C3424;
    border-radius: 0.4rem;
    width: 63%;
    background-color: #2C3424;
    color: white;
    text-align: center;
    margin-top: -4.5rem;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
    width: 88%;
    font-family: "Barlow Condensed", sans-serif;
    border-radius: 1rem;
}

.themeContainerWrapper{
    width: 88%;
    margin: 0 auto;
}

.themeContainer{
    position: relative;
    background-color: rgba(217,217,217, 0.75);
    border: 2px ridge #2C3424;
    border-radius: 1rem;
    margin-top: 2rem;
    padding-top: 1.4rem;
}

.themeContainer h4{
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    color: #2C3424;
    margin: 0 auto;
    /* margin-top: 1.8rem; */
    padding-bottom: 1.2rem;
    width: 80%;
}

.overlayContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    /* background-color: rgba(217,217,217, 0.97); */
    background-color: #afa39d;
    border: 2px ridge #322d26;
    z-index: 1;
    visibility: hidden;
}

.overlayContainer p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    color: #322d26;
    width: 80%;
}

.makeVisible{
    visibility: visible;
}

.hideVisibility{
    visibility: hidden;
}

.activeAboutText{
    font-size: 2rem;
    color: #445A29;
    margin: 0 auto;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid white;
    width: fit-content;
}

/* arrows */
.titleAndArrow{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    /* border: 1px solid red; */
}

.rightArrow, .leftArrow{
    position: absolute;
    top: -40%;
    left: calc(55% + 9rem);
    z-index: 2;
}

.leftArrow{
    left: calc(25.5% - 9rem);
    top: -38%;
}

.inactiveAboutButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding-bottom: 2.5rem;
    width: 65%;
}

#theme0, #theme1, #theme2{
    box-shadow: 3px 4px 2px white;
}

.themeOptions button{
    background-color: #534a41;
    padding: 0.8rem 0.7rem;
    border-radius: 0.3rem;
    color: white;
    font-size: 1.6rem;
}

.themeOptions button:hover, .rightArrow:hover, .leftArrow:hover{
    cursor: pointer;
}

/* image/polaroid */

.polaroidWrapper{
    position: relative;
    top: 3.8rem;
    width: 100%;
    aspect-ratio: 3/4;
}

.smiski{
    position: absolute;
    z-index: 2;
}

.smiskiResearching {
    top: -3%;
    top: 20%;
    left: 13%;
    scale: 0.6;
}

.smiskiPeeking{
    scale: 0.6;
    top: -33%;
}

.smiskiReading{
    scale: 0.9;
    top: 35%;
    left: -13%;
}

.hideThemeButton{
    display: none;
}

.aboutImg{
    position: absolute;
    top: 8%;
    left: 19.2%;
    width: 60%;
    height: 50%;
    object-fit: cover;
}

.polaroid{
    position: absolute;
    z-index: 1;
}

.currently{
    font-family: "Playfair Display", serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.4);
    width: 88%;
    position: relative;
    top: 1rem;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.currently h4{
    font-family: "Barlow Condensed", sans-serif;
    padding-top: 1rem;
    font-size: 1.8rem;
}

.currently span{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 1rem;
    font-size: 1.3rem;
}

@media (min-width: 376px){
    .leftArrow{
        left: calc(25.5% - 10rem);
    }

    .rightArrow{
        left: calc(55% + 11.3rem); 
    }
}

@media (min-width: 407px){
    .leftArrow{
        left: calc(20% - 10rem);
    }

    .rightArrow{
        left: calc(58% + 11.3rem); 
    }
}

@media (min-width: 431px){
    .leftArrow{
        left: calc(19% - 10rem);
    }

    .rightArrow{
        left: calc(63% + 11.3rem); 
    }

    .themeContainer h4{
        margin-top: 1.5rem;
    }

    .themeContainer{
        border-radius: 1rem;
        margin-top: 5rem;
        padding-top: 1.4rem;
        height: 28rem;
    }

    .overlayContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .overlayContainer p{
        font-size: 1.5rem;
    }

    .smiskiResearching {
        top: 22%;
        left: 18%;
        scale: 0.5;
    }
    
    .smiskiPeeking{
        scale: 0.5;
    }
    
    .smiskiReading{
        scale: 0.8;
        top: 36%;
        left: -16%;
    }

    .polaroidWrapper{
        position: relative;
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 491px){
    .leftArrow{
        left: calc(15.5% - 10rem);
    }

    .rightArrow{
        left: calc(69% + 11.3rem); 
    }
}

@media (min-width: 576px){
    .leftArrow{
        left: calc(13.5% - 10rem);
    }

    .rightArrow{
        left: calc(72.5% + 11.3rem); 
    }
}

@media (min-width: 656px){
    .leftArrow{
        left: calc(13.5% - 10rem);
    }

    .rightArrow{
        left: calc(72.5% + 11.3rem); 
    }

    .themeContainer h4{
        font-size: 2.3rem;
        width: 80%;
    }

    .activeAboutText{
        font-size: 2.5rem;
    }

    .themeOptions button{
        padding: 0.8rem 0.7rem;
        font-size: 1.8rem;
    }

    .polaroidWrapper{
        top: 9rem;
    }
}

@media (min-width: 675px){
    .leftArrow{
        left: calc(12% - 10rem);
    }

    .rightArrow{
        left: calc(77% + 11.3rem); 
    }

    .themeContainer h4{
        font-size: 2.3rem;
        width: 80%;
    }

    .activeAboutText{
        font-size: 2.5rem;
    }

    .themeOptions button{
        padding: 0.8rem 0.7rem;
        font-size: 1.8rem;
    }

    .polaroidWrapper{
        top: 9rem;
    }

    .aboutImg{
        top: 8%;
        left: 18%;
        width: 59%;
        height: 41.5%;
    }

    .smiskiPeeking{
        top: -30%;
    }
}

@media (min-width: 696px){
    .leftArrow{
        left: calc(10.8% - 10rem);
    }

    .rightArrow{
        left: calc(78% + 11.3rem); 
    }

    .themeContainer h4{
        font-size: 2.3rem;
        width: 80%;
    }

    .activeAboutText{
        font-size: 2.5rem;
    }

    .aboutImg{
        top: 7.8%;
        left: 17.7%;
        width: 56.7%;
        height: 41%;
    }

    .smiskiReading{
        scale: 0.7;
        top: 33%;
        left: -18%;
    }
}

@media (min-width: 721px){
    .aboutImg{
        top: 8.1%;
        left: 16%;
        width: 56%;
        height: 38%;
    }

    .polaroidWrapper{
        margin: 0 auto;
        margin-left: 4rem;
    }

    .smiskiResearching {
        top: 20%;
    }

    .smiskiReading{
        top: 29%;
        left: -18%;
    }
}

@media (min-width: 743px){
    .aboutImg{
        top: 7.5%;
        left: 15.7%;
        width: 54%;
        height: 37%;
    }

    .smiskiPeeking{
        top: -28%;
    }

    .smiskiReading{
        top: 28%;
    }
}

@media (min-width: 768px){
    .aboutImg{
        top: 7.5%;
        left: 15.7%;
        width: 51.6%;
        height: 35.7%;
    }

    .smiskiReading{
        top: 25%;
    }
}